.canvas {
    background-color: white;
}

.bac {
    position: absolute;
    left: 0px;
    bottom: 64px;
    width: 100%;
}

.fsbtn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* .hero {
    width: 96px;
    height: 96px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    bottom: 64px;
} */

.hero__img {
    width: 576px;
    height: 384px;
    position: relative;
    top: 0px;
    left: -96px;
    transform: scale(-1, 1);
}
.jump-block {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 144px;
    height: 144px;
    overflow: hidden;
}
.jump-block__img {
    position: absolute;
    top: -144px;
    left: -144px;
    width: 864px;
    height: 576px;
    transform: scale(-1, 1);
}
.jump-block__border {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 140px;
    height: 140px;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 50%;
    opacity: 0.5;
}
.hit-block {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 144px;
    height: 144px;
    overflow: hidden;
}
.hit-block__img {
    position: absolute;
    top: -452px;
    left: -442px;
    width: 864px;
    height: 576px;
    transform: scale(-1, 1);
}
.hit-block__border {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 140px;
    height: 140px;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 50%;
    opacity: 0.5;
}


